.content
      
  %form{:action => "/add/restaurant/"}
    %ul

      %li
        %label{:for => "name"} Name:
        %input{:id => "restaurant_name", :name => "name", :type => "text"}


      %li{:class => "table_size" }
        %label{:for => "size"}Table size:
        %select.size{:name => "size" }
          - (1..8).each do |size|
            %option{:value => size}= size

        %label{:for => "number"}tables:
        %select.number{:name => "number" }
          - (1..10).each do |number|
            %option{:value => number}= number

      %li
        %input{:type => "button", :value => "add another", :id => "add"}

      %li
        %input{:type => "submit"}

            