.content
  %h2 Where do you want to eat?
      
  %form{:action => "/reservation"}
    %ul
      %li
        %select#restaurants{:name => "name" }
          - @restaurants.each do |restaurant|
            %option{:value => restaurant.name }= restaurant.name

      %li
        %select#group{:name => "group" }
          - (1..8).each do |group|
            %option{:value => group}= group

      %li
        Date:
        %input{:id => "datepicker", :type => "text"}

      %li
        %label{:for => "year"} Year:
        %input{:type => "text", :name => "year", :class => "text"}

      %li
        %label{:for => "month"} Month:
        %input{:type => "text", :name => "month", :class => "text"}


      %li
        %label{:for => "day"} Day:
        %input{:type => "text", :name => "dayh", :class => "text"}

      %li
        %label{:for => "hour"} Hour:
        %input{:type => "text", :name => "hour", :class => "text"}

      %li
        %input{:type => "submit"}

            