%html
  %head

  %body
    .content
      %h2 Where do you want to eat?

      %form{:action => "/detail"}
        %select#restaurants
          - @restaurants.each do |restaurant|
            %option{:value => restaurant.name }= restaurant.name

        %select#patrons
          - (1..8).each do |patrons|
            %option{:value => patrons}= patrons

        %input{:type => "submit"}

            