.content
  %h2 Where do you want to eat?
      
  %form{:action => "/reservation"}
    %ul
      %li
        %select#restaurants{:name => "name" }
          - @restaurants.each do |restaurant|
            %option{:value => restaurant.name }= restaurant.name

      %li
        %label{:for => "group"} Group:
        %select#group{:name => "group" }
          - (1..8).each do |group|
            %option{:value => group}= group

      %li
        %label{:for => "date"} Date:
        %input{:id => "datepicker", :name => "date", :type => "text"}

      %li
        %label{:for => "time"} Time:
        %select 
          - @times.each do |time|
            %option{:value => time}= time

      %li
        %input{:type => "submit"}

            